/* Color Scheme */
/* p{
    color: #943D3B;
    color: #E07370;
    color: #3897E0;
    color: #5E7F99;
} */

/* font */

*{
    font-family: 'Zen Kurenaido', sans-serif;;
}

/* logo, title and nav bar */

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img{
    width: 20%;
    height: 20%;
}

nav{
    width: 100%;
    text-align: center;
}

#title{
    padding-right: 5px;
    font-size: 36px;
    display: flex;
    justify-content: space-between;
}

header ul{
    font-size: 24px;
    background-color: #5e7f9986;
    padding: 10px;
}

.currPage{
    border: solid 3px #5E7F99;
    text-transform: uppercase;
}

a{
    padding: 5px;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
}
  
.skip :focus{
    position: absolute;
    top: 0;
}

/* body */

#name{
    font-size: 40px;
    margin: 10px;
    text-align: center;
    text-decoration: underline dotted;
}

p{
    color: #364958;
    font-size: 18px;
    padding: 10px;
    background: transparent;
}

.recomend{
    width: 300px;
    height: 300px;
    object-fit: scale-down;
    border: 3px solid #943D3B;
    background: #943c3b62;
    margin: 20px;
    padding: 10px;
}

.img_flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.recomendSections{
    color: #943D3B;
    font-size: 24px;
    padding-top: 30px;
    padding-left: 5px;
}

.reco_title{
    color: #364958;
    font-size: 22px;
    padding: 20px;
    width: 300px;
    text-decoration: underline;
}

.img_flex p{
    padding: 5px;
    margin: 30px;
    width: 300px;
}

.sections{
    color: #943D3B;
    font-size: 24px;
    padding-top: 30px;
    text-align: center;
}

.lb-data .lb-caption {
    font-size: 36px;
}

.line{
    width: 100%;
    border-top: black solid 2px;
}

main ul{
    color: #364958;
    font-size: 18px;
    padding: 10px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.name_grid, .recipes_grid, .img_grid, .steps, .ingredient_grid{
    grid-column: 1 / -1;
}

.img_grid{
    width: 100%;
}

.prep_grid{
    grid-column: 1 / 2;
}

.cook_grid{
    grid-column: 3 / -1;
}

.ingredient_grid{
    padding-left: 50px;
}

/* FORM STYLING */
  
.containers{
    padding: 20px;
    background-color: #7788994c;
    display: block;
    position: relative;
    padding-left: 35px;
    font-size: 22px;
}
  
input[type=text], input[type=submit]{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
input[type=submit]{
    background-color: #425a6d;
    color: white;
    border: none;
    border-radius: 50px;
}
  
input[type=submit]:hover{
    opacity: 0.8;
}

#form_flex{
    display: flex;
    flex-direction: column;
}

.contained{
    font-size: 24px;
    padding: 20px;
    margin: 5px;
    background-color: #7788994c;
}

/* flip card */

.flip-card{
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
  
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #5E7F99;
    color: #000000;
}
  
.flip-card-back {
    border: 3px solid #5E7F99;
    background-color: #ffffff;
    color: #000000;
    transform: rotateY(180deg);
}

.mv{
    padding-top: 50px;
    font-size: 48px;
    color: #000000;
    text-shadow: #ffffff;
}

#mv_flex{
    display: flex;
    flex-direction: column;
}

/* animation */

.slide-forward{
    animation-name: slide-forward;
    animation-duration: 5s;
}

/* footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #e07470f2;
    padding: 10px;
}  

/* screen size > 700px */

@media only screen and (min-width: 700px){

    header h1{
        padding-top: 10px;
    }
    
    header ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    header li::before, header li::after{
        font-size: 28px;
        content: "/";
    }

    .mobile_image{
        display: none;
    }

    .parallax {
        background-image: url("../images/cropped_kitchen.jpg");
        min-height: 300px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    
    .parallax_ {
        background-image: url("../images/eating.jpeg");
        min-height: 300px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container{
        grid-template-columns: repeat(7, 1fr);
    }
    
    .recipes_grid{
        font-size: 36px;
    }
    
    .recipes_grid, .prep_grid, .cook_grid, .ingredient_grid{
        text-align: center;
        grid-column: 1 / 4;
        padding-left: 0px;
        background-color: #7788994c;
    }

    .steps{
        grid-column: 4 / -1;
    }

    .img_flex p{
        padding-top: 20px;
    }

    footer{
        flex-direction: row;
        justify-content: space-between;
    }

    .containers{
        margin: 50px;
    }

    #mv_flex{
        flex-direction: row;
    }

}

/* screen size > 1040px */

@media only screen and (min-width: 1040px){

    header{
        flex-direction: row;
        background-color: #5e7f9986;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    header h1{
        padding-top: 0px;
        padding-right: 50px;
    }

    header ul{
        background-color: #5e7f9900;
    }

    #title{
        padding-left: 20px;
    }

    #intro_grid{
        display: grid;
        grid-template-columns: 5% 20% auto 20% 5%;
    }

    #index p{
        margin: 20px;
        background-color: #7788994c;
        text-align: justify;
    }

    #intro_grid p:nth-child(odd){
        grid-column: 2 / 4;
    }

    #intro_grid p:nth-child(even){
        grid-column: 3 / 5;
    }

    .sections{
        margin-top: 10px;
        padding: 20px;
        background-color: #943D3B;
        color: #ffffff;
    }

    .ingredient_grid{
        padding-top: 40px;
        background-color: #77889900;
    }

    .prep_grid{
        padding-top: 40px;
        grid-column: 5 / 6;
        background-color: #77889900;
    }
    
    .cook_grid{
        padding-top: 40px;
        grid-column: 6 / 7;
        background-color: #77889900;
    }

    .img_flex{
        flex-direction: column;
        align-items: center;
        max-height: 700px;
    }

    .recomendSections{
        background-color: #5E7F99;
        color: #ffffff;
        padding: 0px;
        padding-left: 20px;
        font-size: 36px;
    }

    .img_flex p{
        margin-top: 0;
    }

    .line{
        color: #943D3B;
        background-color: #ffffff;
    }

    .cols{
        margin-left: 200px;
        margin-right: 200px;
        columns: 2;
    }

    .mv{
        padding: 20px;
    }

    #form_flex{
        flex-direction: row;
        justify-content: space-between;
    }

    .containers{
        box-shadow: 10px 10px #000000bd;
    }
    
}

/* keyframes animation */

@keyframes slide-forward{
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

/* prefers reduce motion */

@media (prefers-reduced-motion) {

    .skip a{
        transition: 0s;
    }

    .flip-card-inner{
        transition: transform 0s;
    }

    .slide-forward{
      animation-duration: 0s;
    }

    .parallax, .parallax_ {
        background-attachment: scroll;
    }
    
}

